ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style-type: none;
    background-color: #f3dcabc4;
  }
  
  li {
    float: left;
  }
  
  li a {
    color: rgb(0, 0, 0);
    display: block;
    padding: 14px 16px; /* Arriba y abajo 14, izquierda y derecha 16 */
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #b9a919b7;
  }
  
  .activo {
    background-color: #75471ba9;
  }
  
  .derecha {
    float: right;
  }
  
  .miJumbo {
    margin-top: 1rem;
    padding: 32px 16px;
    background-color: #5a0c09;
    border-radius: 0.5rem;
    text-align: center;
  }
  h1 {
    color: #f3e8b4;

  }